<section>

  <div class="d-flex justify-content-between m-2">
    <h4>Lista de Categorias</h4>
    <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-success"><i class='bx bxs-file-plus'></i></button>
  </div>
<app-create></app-create>
  <table class="table table">
    <thead>
    <tr class="text-center">
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="2">Acciones</th>
    </tr>
    </thead>
    <tbody>
      <ng-template #notregistered>
        <p>nadie registrado</p>
    </ng-template>
       <tr class="text-center" *ngFor="let categoria of categorias">
      <td>{{ categoria.id }}</td>
      <td>{{ categoria.nombre }}</td>
      <td>{{ categoria.descripcion }}</td>
      <td><a href="#" [routerLink]="['/categoria/', 'edit', categoria.id  ]" class="btn btn-outline-primary"><i class='bx bx-edit'></i></a></td>
      <td><button type="button" (click)="deleteCategoria(categoria.id)" class="btn btn-outline-danger"><i class='bx bxs-message-x' ></i></button></td>
    </tr>
    </tbody>
  </table>
</section>
